TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_ADMINS=1,2,3
RUTRACKER_LOGIN=
RUTRACKER_PASSWORD=
DOWNLOAD_DIR=
POLL_TORRENT_STATUS_TIMEOUT_SECONDS=3600
POLL_TORRENT_STATUS_DURATION_SECONDS=5
TRANSMISSION_RPC_HOST=localhost
TRANSMISSION_RPC_USER=
TRANSMISSION_RPC_PASSWORD=
TRANSMISSION_WEB_UI_LINK=http://<host>:9091/transmission/web/
